* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom left, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 450px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

h1 {
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.displayConatiner {
    margin: 1rem 0;
    padding-top: 0.35rem;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0.35em var(--lt-violet2);
}

.randPass {
    width: 100%;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
    outline: none;
    background: transparent;
}

.copyBtn {
    background: transparent;
    outline: none;
    border: none;
    margin-right: 1.5rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.zoomed{
 transform: scale(1.1);
}
.copyBtn span {
    position: absolute;
    top: -34px;
    left: -87%;
    color: var(--vb-yellow);
    border: 1px solid rebeccapurple;
    padding: 0.4em 0.5rem;
    border-radius: 1rem;
    background-color: var(--vb-violet);
    font-weight: 600;
    font-size: 15px;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 0.5s;
}

.copyBtn .active {
    transform: scale(1);
}

.copyBtn img {
    width: 23px;
    height: 23px;
}

/* input Container*/

.inputConatiner {
    width: 100%;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    padding: 1.90rem;
    box-shadow: 0px 0.35em var(--lt-violet2);
}

/* Password Length Section */

.lengthConatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lengthConatiner p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.5rem;
}

.lengthConatiner span {
    color: var(--vb-yellow);
    font-size: 1.5rem;
}

.slider {
    appearance: none;
    margin-top: 1.75rem;
    margin-bottom: 1.2rem;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var(--lt-violet);
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    background-color: var(--vb-yellow);
    box-shadow: 0px 0px 12px rgba(255, 229, 61, 0.50);
    /* transition: all 100ms ease-in; */
}

.slider:focus {
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover {

    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

/* Input field */

.check {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0.9rem 0;
}

.check input {
    appearance: none;
    border: 1px solid var(--vb-cyan);
    width: 20px;
    height: 20px;
    border-radius: 0.35rem;
    cursor: pointer;
    position: relative;
}

.check input:checked {
    background-color: var(--vb-cyan);

}

.check input:checked::before {
    content: '\2713';
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.check label {
    color: var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

/* strength Container */

.strengthContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.55rem 0;

}

.strengthContainer p {
    color: var(--pl-white);
    font-size: 1.5rem;
}

.strengthContainer span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

/* Generate Button */

.generateBtn {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    border-radius: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-bottom: 0.35rem solid var(--vb-yellow);
}


@media (max-width:478px) {
    .MBL-BOLD {
        font-size: xxx-large;
        display: block;
        margin-bottom: 4px;
        color: gold;
    }

    .container {
        gap: 0.6rem;
    }

    .check label {
        font-size: 1.17rem;
    }

    .generateBtn {
        font-size: 1.11rem;
    }
}